.modal {
  background-color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
  height: 100%;
  left: 0;
  opacity: 0;
  padding: 10px 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.inner-modal {
  color: #FFF;
  cursor: default;
  left: 50%;
  position: relative;
  text-align: center;
  top: 51%;
  transition: transform 0.4s ease-out;
  transform: translate(-50%, -50%) scale(0);
  width: fit-content;
  padding: 0 20px;
}
.modal-image {
  height: auto;
  max-width: 100%;
}
.modal-arrow {
  cursor: pointer;
  position: absolute;
  top: 45%;
  transition: transform 0.1s ease-in;
  transform: scale(0.8);
}
.modal-arrow:hover {
  transform: scale(0.9);
}
.left-arrow {
  left: -8%;
}
.right-arrow {
  right: -8%;
}
.inner-modal p {
  line-height: 2;
}

/* Behavior when modal is on */
body.modal-on {
  overflow: hidden;
}
.modal.open {
  opacity: 1;
  pointer-events: all;
}
.inner-modal.open{
  transform: translate(-50%, -50%) scale(1);
}

@media only screen and (max-width: 1000px) {
  .modal-arrow {
    opacity: 0.5;
  }
  .left-arrow {
    left: 5%;
  } 
  .right-arrow {
    right: 5%;
  }
}

@media only screen and (max-width: 600px) {
  .modal-arrow {
    top: 40%;
  }
}